<body class="body-home">
  <div class="nav-div">
    <div class="my-journ">
      <%= image_tag "nav-icon.png", :class => "nav-img" %>
      <p>My Journal</p>
    </div>
    <nav class="nav-list">
      <ul class="nav-list">
        <li>About</li>
        <li>Feature</li>
        <li>Pricing</li>
        <li>Blog</li>
        <li>Support</li>
      </ul>
    </nav>
    </div>
</body>

<section>
  <div>
    <div class="title-div">
      <h1 class="main-title">Do things in order.</h1>
      <p class="sub-head">Be productive. Be organized.</p>
    </div>
    <%= image_tag "main-img.png", :class => "main-img" %>
  </div>
</section>

<footer>
  <div class="footer-div">
    <p>&copy 2022-2030 All rights reserved.</p>
  </div>
</footer>
